@model Alameen_CustomerAndDonglesMangment.Models.Dongles

@{
    ViewData["Title"] = " تفاصيل الدنقل";
}

<div class="row column_title">
    <div class="col-md-12">
        <div class="page_title">
            <h2>لوحة التحكم / تفاصيل الدنقل</h2>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-12 d-grid" style="display: grid;">
        <div class="white_shd add_pro full margin_bottom_30 row" style="padding: 20px;">

            <div class="col-md-4">
                <Label>الرقم التسلسلي</Label>
                <p class="text-bold">@Model.SerialNum</p>
            </div>

            <div class="col-md-4">
                <Label>نوع الدنقل</Label>
                <p class="text-bold">@Model.DongleType?.Name</p>
            </div>

            <div class="col-md-4">
                <Label>اللون</Label>
                <p class="text-bold">@Model.DongleColor?.Name</p>
            </div>

            <div class="col-md-4">
                <Label>نسخة الامين</Label>
                <p class="text-bold">@Model.AmeenVer?.Name</p>
            </div>

            <div class="col-md-4">
                <Label>رقم النسخة</Label>
                <p class="text-bold">@Model.VerNum</p>
            </div>

            <div class="col-md-4">
                <Label>نوع اضافات الامين</Label>
                <p class="text-bold">@Model.AmeenAddOnTypes?.Name</p>
            </div>

            <div class="col-md-4">
                <Label>رئيسي او فرعي</Label>
                <p class="text-bold">
                @{
                    string val;
                    switch (Model.MainOrSub)
                    {
                        case 1:
                            val = "رئيسي";
                            break;
                        case 2:
                            val = "فرعي";
                            break;

                        default:
                            val = "";
                            break;
                    }
                }
                    @val
                </p>
            </div>

            <div class="col-md-4">
                <Label>تاريخ الانتهاء</Label>
                <p class="text-bold">@Model.ExpirationDate</p>
            </div>

            <div class="col-md-4">
                <Label>العميل </Label>
                <p class="text-bold">@Model.Customer?.Name</p>
            </div>

            <div class="col-md-4">
                <Label>النائب </Label>
                <p class="text-bold">@Model.Representatives?.Name</p>
            </div>

            <div class="col-md-4">
                <Label>موقع الدنقل</Label>
                <p class="text-bold">@Model.Customer?.State?.Name - @Model.Customer?.City?.Name - @Model.Customer?.Address</p>
            </div>

        </div>
    </div>

</div>